.movies-card-list__container {
    margin:auto auto 80px;
    max-width: 1140px;
    margin-top: 70px;
}

.movies-card-list__list {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    grid-template-rows: repeat(1, 233px);
    row-gap: 58px;
    column-gap: 30px;
    margin: 0 0 26px;
    padding: 0;
    list-style-type: none;
    list-style: none;
}

.movies-card-list__button {
    width: 320px;
    background: #F9F9F9;
border-radius: 6px;
    cursor: pointer;
    border: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    color: white;
    padding: 11px 0 9px;
    display: block;
    margin-top: 76px;
    margin-right: AUTO;
    margin-left: AUTO;
    color: black;

}

@media screen and (max-width: 1200px) {
    .movies-card-list__container {
        max-width: 708px;
        
    }
    .movies-card-list__list {
        grid-template-columns: repeat(2, 339px);
        grid-template-rows: repeat(1, 233px);
        row-gap: 45px;
    }
    .movies-card-list__button{
        margin-top: 63px;
    }
}

@media screen and (max-width: 723px) {
    .movies-card-list__container {
        max-width: 300px;
        margin-top: 40px;
    }
    .movies-card-list__list {
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(1, 202px);
        row-gap: 36px;
    }
    .movies-card-list__button{
        margin-top: 60px;
        width: 240px;
    }
    
}